*{
padding: 0; 
margin: 0; 
font-size:14px; 
text-decoration: none; 
color: #333;
list-style: none;
}

/*-------------------------topo do site-------------------------------*/
#topo{width: 100%; height: 200px; float: left; background-color: #FFFFFF}
.logo{width: 180px; height: auto; float: left; margin: 15px;}
.universidade{float: right; padding: 10px; margin: 15px;}
/*-------------------------fim do topo--------------------------------*/


/*-------------------------menu do Site--------------------------------*/
#menu{width: 100%; height: 50px; float: left; background-color: #4682B4}
.links_menu li a{float: left; padding: 17px; background-color: #4682B4; color: #FFFFFF; font-size: 18px; font-family: calibri, sans-serif;}
.links_menu li a:hover{background-color: #27408B;}
/*-------------------------fim do Menu--------------------------------*/


/*-------------------------conteudo do site---------------------------*/
#conteudo{width: 100%; height: 500px; float: left; background-color: #FFFFFF; padding-bottom: 40px;}

/*-----------------------------página index-----------------------------*/
.introducao{text-align: center; color: #000000; margin-top: 60px; font-size: 30px; margin-left: 20px; font-family: calibri, sans-serif;}
.descricao{text-align: center; color: #000000; padding-top: 30px; font-size: 20px; margin-left: 20px; padding-right: 40px; font-family: calibri, sans-serif;}
.objetivo{text-align: center; color: #000000; padding-top: 80px; font-size: 30px; margin-left: 20px; font-family: calibri, sans-serif;}
.descricaoObj{text-align: center; color: #000000; padding-top: 30px; font-size: 20px; margin-left: 20px; padding-right: 40px; font-family: calibri, sans-serif;}
/*-------------------------fim da página index---------------------------*/


/*-------------------------página de contato---------------------------*/
.campos{width: 80%; margin: 10px 10%; height: 30px; float: left; padding: 2px; font-size: 14px; font-family: calibri, sans-serif;}
.campo2{width: 80%; margin: 10px 10%; min-height: 150px; float: left; padding: 2px; font-size: 16px; font-family: calibri, sans-serif;}
.bt_enviar{float: left; margin-left:10%; padding: 5px; font-size: 16px; font-family: calibri, sans-serif;}
.legenda{float: left; margin-left: 10%; font-size: 16px; font-family: calibri, sans-serif;}
/*-------------------------fim da página de contato--------------------*/



/*-------------------------fim do conteudo--------------------------------*/


/*-------------------------rodape do site--------------------------------*/
#rodape{width: 100%; height: 50px; float: left; background-color: #1C1C1C; padding-top: 5px; padding-bottom: 20px;}
.direitos{text-align: center; color: #FFFFFF; margin-top: 15px; font-size: 15px; font-family: calibri, sans-serif;}
.endereco{text-align: center; color: #FFFFFF; margin-top: 5px;  font-size: 15px; font-family: calibri, sans-serif;}
/*-------------------------fim do rodape--------------------------------*/

